NodeServer/node_modules
NodeServer/package.json
NodeServer/package-lock.json

public
build
dist
src/logo.svg
src/assets

.env
.env.prod
.env.testing

.eslintrc.json
.gitignore
.prettierignore
.prettierrc
package.json
README.md
yarn.lock
yarn-error.log